@import './../../sharedStyles/spacer';
@import './../../sharedStyles/colors';
.input{
    padding: $baseSpacer;
    width: 100%;
    border: 1px solid $grayLight;
    outline: none;
    font-size: 2em;
    font-weight: bold;
    &-valid{
        border-color: $valid;
    }
}