@import './../../sharedStyles/spacer';
.chat{
    display: flex;
    font-weight: lighter;
    & > div{
        padding: $baseSpacer / 2;
    }
    &-right{
        flex-direction: row-reverse;
    }
}