$primary: #ED553B;
$primaryHover: rgb(207, 71, 47);
$secundary: #112F41;
$secundaryHover: rgb(7, 34, 51);
$gray: gray;
$grayLight: #f2f2f2;
$white: white;
$offWhite: #f9f9f9;
$valid: #37CBA6;
$shadow: 0 0 5px 0px rgba(0,0,0,0.09);